<h1>Favorite Pokemon</h1>

<% @current_user.favourites.each do |favourite| %>
  <div>
    <%= link_to favourite.pokemon.name, pokemon_path(favourite.pokemon) %>
    <%= button_to "Remove", pokemon_favorites_path(favourite.pokemon), method: :delete, data: { confirm: "Are you sure you want to remove this from favourites?" } %>
  </div>
<% end %>

