<div class="homepage">
    <h1>Pokemon Home</h1>

    <% if @current_user.present? %>
        <p>Logged in as: <%= @current_user.email %></p>
    <% end %>

    <p>Welcome to Pokemon Home!</p>

    <p>Pokemon Home is a perfect site to store your beloved Pokemons. </p>

    <div class="signup">
        <% unless @current_user.present? %>
        <%= button_to "Sign Up Now!", new_user_path, :method => :get%>
        <img src="<%= asset_path('pokemon-trainer.png') %>" alt="signup icon">
        <% end %>
    </div>
</div>


        
