body {
    background-image: url("https://pbs.twimg.com/media/Fp-wzrpXgAMQali?format=jpg&name=large") !important;
    background-attachment: fixed;
}

html, body, * {
    color:midnightblue !important;
    font-family: 'Arima', cursive;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 1em;
}

.heading {
    height: 30px;
    display: flex;
    justify-content: space-between;
   
}

.headingimg {
    height: 43px;
    display: flex;
    justify-content: space-between;
}

.navbar {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    gap: 1.5rem;
}

.navbar img {
    height: 2rem;
    width: 2rem;
}

.navbar .nav-link {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.navbar a{
    color:darkblue;
}

.navbar a:hover {
    background-color:yellowgreen;
}

.homepage {
    margin-top: 50px;
    color:darkblue;
}

.homepage h1 {
    color:darkblue;
}

.signup {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.regions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 50px;
}
.regions h1 {
    text-transform: capitalize;
    font-size: 20px;
}
.region {
    flex-grow: 1;
    max-width: calc(50% - 11.5rem);
}
.region img {
    width: 100%;
}
.regiondetails {
    margin-top: 70px;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.regionhead {
    text-align: center;
    margin-top: 50px;
}
.regiondetails .pokemon {
    background: white;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 1.5px 1.5px rgba(0,0,0,.34);
    transition: transform .18s ease;
}
.regiondetails .pokemon:hover {
    transform: scale(1.05);
}
.pokedex {
    margin-top: 50px;
    text-align: center;
}

.card {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}

.card-title {
    font-size: 50px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.card-title .next-pokemon,
.card-title .prev-pokemon {
    font-size: 1rem;
}
.pokemon-types-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
.pokemon-types-list .type {
    height: 5rem;
    border-radius: .5rem;
    background: white;
}
.controls {
    margin-top: 40px;
}
.controls input {
    cursor: pointer;
}
.controls input[disabled="disabled"] {
    opacity: .2;
    cursor: not-allowed;
}

.search {
    text-align: center;
    margin-top: 80px;
}

.search-title {
    font-size: 50px;
}

.search-button {
    margin-bottom: 30px;
}

.typehead {
    font-size: 50px;
    text-align: center;
    margin-top: 60px;
}

.login-head {
    margin-top: 80px;
}

.login {
    font-size: 200;
}

.sign-up-button {
    margin-top: 40px;
    text-align: center;
}

/* 
html, body, * {
font-family: sans-serif;
}
:root {
--bg-poison: purple;
--bg-grass: green;
}
.card {
background-color: white;
padding: 1rem;
border-radius: .5rem;
max-width: 48rem;
margin: 0 auto;
}
.card-title {
text-transform: capitalize;
font-size: 2rem;
font-weight: bold;
text-align: center;
}
.card-body {
display: flex;
}
.type-list {
display: flex;
gap: .5rem;
}
.type-tag {
padding: .5rem 1rem;
color: white;
text-transform: captialize;
}
.background {
height: 100vh;
width: 100vw;top: 0;left: 0;
position: absolute;
z-index: -1;
background-color: var(--bg-<%= @pokemon.types[0].type.name %>);
}
.background--secondary {
width: 50vw;
height: 100vh;
position: absolute;
left: 50%;
background-color: var(--bg-<%= @pokemon.types[1].type.name %>);
}
*/